UNM1.1_20250717102641/Microsoft.Flow/flows/e7ba4af1-24f0-44fa-a22d-f2237faf7ada/definition.json
{"name":"48ef27a2-43f0-4df6-921a-a62f96fe6ced","id":"/providers/Microsoft.Flow/flows/48ef27a2-43f0-4df6-921a-a62f96fe6ced","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Unexpected non-mover v2.5","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"f988cdb6-bcbc-4fc2-83aa-f6d81586624e","type":"User","tenantId":"036c2744-4d41-4d58-b728-def65783fe28"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-02-10T11:27:19.6089482Z","connectionKeySavedTimeKey":"2025-05-12T17:09:07.2487946Z","creationSource":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_a_new_email_arrives_(V3)":{"metadata":{"operationMetadataId":"ecc219c4-9d11-4b3e-a2ec-432aadcb9db4"},"type":"OpenApiConnectionNotification","inputs":{"parameters":{"from":"connect@masternaut.com","subjectFilter":"vehicle(s) not moved","importance":"Any","folderPath":"Inbox"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"OnNewEmailV3"},"authentication":"@parameters('$authentication')"}}},"actions":{"For_each":{"foreach":"@triggerOutputs()?['body/value']","actions":{"Substring":{"metadata":{"operationMetadataId":"9a97e712-29b0-4886-9b9c-ce631a213f83"},"type":"Expression","kind":"Substring","inputs":{"text":"@item()?['body']","startingPosition":1}},"Condition":{"actions":{"AlmostAllTheBody":{"metadata":{"operationMetadataId":"d2eb5655-579b-4a65-8b63-61c78e8defa7"},"type":"Compose","inputs":"@substring(body('Substring'),0)"},"ComposeStartOfTable":{"runAfter":{"ComposeReduceToh3":["Succeeded"]},"metadata":{"operationMetadataId":"10b2478a-d9de-4b14-a7e5-0c8dd5cc95ac"},"type":"Compose","inputs":"@substring(outputs('ComposeReduceToh3'),indexOf(outputs('ComposeReduceToh3'),'<table'))"},"ComposeEndOfTable":{"runAfter":{"ComposeStartOfTable":["Succeeded"]},"metadata":{"operationMetadataId":"800d5d85-e15a-434b-b7cb-0b07d441e333"},"type":"Compose","inputs":"@substring(outputs('ComposeStartOfTable'),0,indexOf(outputs('ComposeStartOfTable'),'</table>'))"},"ComposeAddClosingTableTag":{"runAfter":{"ComposeEndOfTable":["Succeeded"]},"metadata":{"operationMetadataId":"2be203af-fb02-442b-b59a-3613fafac969"},"type":"Compose","inputs":"@{outputs('ComposeEndOfTable')}</table>"},"Set_variable":{"runAfter":{"ComposeAddClosingTableTag":["Succeeded"]},"metadata":{"operationMetadataId":"b0ac4471-2403-4407-9a52-576f25e418ac"},"type":"SetVariable","inputs":{"name":"MyString","value":"@{outputs('ComposeAddClosingTableTag')}"}},"ConvertMyStringToXml":{"runAfter":{"Set_variable":["Succeeded"]},"metadata":{"operationMetadataId":"6f71d870-a278-4917-ba76-b8cd92df6723"},"type":"Compose","inputs":"@xml(variables('MyString'))"},"ComposeCountRowsMinusOne":{"runAfter":{"ConvertMyStringToXml":["Succeeded"]},"metadata":{"operationMetadataId":"8617373e-ad48-43cc-ac90-f66ef9a3cdbf"},"type":"Compose","inputs":"@int(sub(xpath(outputs('ConvertMyStringToXml'),'count(//tr)'),1))"},"SelectRowsFromHTML":{"runAfter":{"ComposeCountRowsMinusOne":["Succeeded"]},"metadata":{"operationMetadataId":"de3bc207-414b-44c8-8e21-bc09c322a4d5"},"type":"Select","inputs":{"from":"@range(2,outputs('ComposeCountRowsMinusOne'))","select":{"@{xpath(xml(outputs('ConvertMyStringToXml')),'//table[1]//tr[1]/th[1]/text()')?[0]}":"@xpath(xml(outputs('ConvertMyStringToXml')),concat('//table[1]//tr[',item(),']/td[1]/text()'))?[0]","@{xpath(xml(outputs('ConvertMyStringToXml')),'//table[1]//tr[1]/th[2]/text()')?[0]}":"@xpath(xml(outputs('ConvertMyStringToXml')),concat('//table[1]//tr[',item(),']/td[2]/text()'))?[0]","@{xpath(xml(outputs('ConvertMyStringToXml')),'//table[1]//tr[1]/th[3]/text()')?[0]}":"@xpath(xml(outputs('ConvertMyStringToXml')),concat('//table[1]//tr[',item(),']/td[3]/text()'))?[0]","@{xpath(xml(outputs('ConvertMyStringToXml')),'//table[1]//tr[1]/th[4]/text()')?[0]}":"@xpath(xml(outputs('ConvertMyStringToXml')),concat('//table[1]//tr[',item(),']/td[4]/text()'))?[0]","@{xpath(xml(outputs('ConvertMyStringToXml')),'//table[1]//tr[1]/th[5]/text()')?[0]}":"@xpath(xml(outputs('ConvertMyStringToXml')),concat('//table[1]//tr[',item(),']/td[5]/text()'))?[0]"}}},"ComposeLengthSRFH":{"runAfter":{"SelectRowsFromHTML":["Succeeded"]},"metadata":{"operationMetadataId":"b1253b6f-eaef-4d16-a5b8-a425b6bc32e6"},"type":"Compose","inputs":"@length(body('SelectRowsFromHTML'))"},"Apply_to_each_1":{"foreach":"@body('SelectRowsFromHTML')","actions":{"Append_to_array_variable":{"metadata":{"operationMetadataId":"9bad2675-5bec-4387-acd1-fee1e1347bf4"},"type":"AppendToArrayVariable","inputs":{"name":"VanNumArray","value":"@items('Apply_to_each_1')?['Vehicle']"}}},"runAfter":{"ComposeLengthSRFH":["Succeeded"]},"metadata":{"operationMetadataId":"3de3a855-7550-4f71-b4ea-adbf65f8a448"},"type":"Foreach"},"ComposeReduceToh3":{"runAfter":{"AlmostAllTheBody":["Succeeded"]},"type":"Compose","inputs":"@substring(outputs('AlmostAllTheBody'),indexOf(outputs('AlmostAllTheBody'),'<h3'))"}},"runAfter":{"CheckIfTable":["Succeeded"]},"else":{"actions":{}},"expression":{"or":[{"equals":["@outputs('CheckIfTable')",true]}]},"metadata":{"operationMetadataId":"4073f121-ee35-4234-9825-3073b229cbd7"},"type":"If"},"CheckIfTable":{"runAfter":{"Substring":["Succeeded"]},"metadata":{"operationMetadataId":"bb419cbe-cf16-497a-ad6b-680f0eb141e4"},"type":"Compose","inputs":"@contains(body('Substring'),'<table')"}},"runAfter":{"For_each_1":["Succeeded"]},"metadata":{"operationMetadataId":"5b81809a-7091-45be-ab5b-9096354d6a3f"},"type":"Foreach"},"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"c116a263-ec12-40e2-a08e-1dfb7d174288"},"type":"InitializeVariable","inputs":{"variables":[{"name":"MyString","type":"string"}]}},"InitializeVariableVanNumArray":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"88c26fea-4b28-4c66-affb-362d3f125d34"},"type":"InitializeVariable","inputs":{"variables":[{"name":"VanNumArray","type":"array"}]}},"List_rows_present_in_a_table":{"runAfter":{"For_each":["Succeeded"]},"metadata":{"01ISU2MFB3ZQKWBX6JZNF24GKSL3M256NA":"/Work/Projects/PowerAutomateStuff/PlannerForNonMovers.xlsx","tableId":"{23802A73-637C-4FD0-AC46-52AF13F3F3F6}","operationMetadataId":"5cf396a4-cf10-4c35-806c-5b10ea43b6bb","01XRTXJPC65HPWWARJCNAKZZLF6J2FR3UR":"/Team Leaders/Team Planner.xlsx"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"groups/bd23383b-b72d-49e6-aabb-3ee08b0c1fe5","drive":"b!JhLJz2mzo0avibQwlwjamzTVFFm-rlBHjhA-RJjA6m6aw_Mg_xP3T7zqbrWsV2QM","file":"01XRTXJPC65HPWWARJCNAKZZLF6J2FR3UR","table":"{23802A73-637C-4FD0-AC46-52AF13F3F3F6}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"ApplyToEachNonMover":{"foreach":"@variables('VanNumArray')","actions":{"ApplyToEachExcelVan":{"foreach":"@variables('ExcelVansAndNames')","actions":{"ConditionFindMatch":{"actions":{"Append_to_array_variable_1":{"runAfter":{"ComposeSubstring1stDriver":["Succeeded"]},"metadata":{"operationMetadataId":"91e329d1-694c-4357-a937-f0a4ad3a0901"},"type":"AppendToArrayVariable","inputs":{"name":"Drivers","value":"@outputs('ComposeSubstring1stDriver')"}},"ComposeSubStringNoVan":{"metadata":{"operationMetadataId":"8cc3d8ea-8b9f-44c4-904b-826520f26ffe"},"type":"Compose","inputs":"@substring(items('ApplyToEachExcelVan'),indexOf(items('ApplyToEachExcelVan'),':'))"},"Compose2ndDriver":{"runAfter":{"Append_to_array_variable_1":["Succeeded"]},"type":"Compose","inputs":"@substring(items('ApplyToEachExcelVan'),indexOf(items('ApplyToEachExcelVan'),';'))"},"ComposeSubstring1stDriver":{"runAfter":{"ComposeSSNVminusColon":["Succeeded"]},"type":"Compose","inputs":"@substring(outputs('ComposeSSNVminusColon'),0,indexOf(outputs('ComposeSSNVminusColon'),';'))"},"ComposeSSNVminusColon":{"runAfter":{"ComposeSubStringNoVan":["Succeeded"]},"type":"Compose","inputs":"@substring(outputs('ComposeSubStringNoVan'),1)"},"Condition_4":{"actions":{"Compose2ndDriverNoSemiColon":{"type":"Compose","inputs":"@substring(outputs('Compose2ndDriver'),1)"},"Append_to_array_variable_4":{"runAfter":{"Compose2ndDriverNoSemiColon":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"Drivers","value":"@outputs('Compose2ndDriverNoSemiColon')"}}},"runAfter":{"Compose2ndDriver":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"greater":["@length(outputs('Compose2ndDriver'))",3]}]},"type":"If"}},"else":{"actions":{}},"expression":{"and":[{"contains":["@items('ApplyToEachExcelVan')","@items('ApplyToEachNonMover')"]}]},"metadata":{"operationMetadataId":"0fa216f2-4760-4486-8158-9a720a3e0bb5"},"type":"If"}},"metadata":{"operationMetadataId":"059625e8-72be-46ec-a98c-d54d45d280b6"},"type":"Foreach"}},"runAfter":{"Apply_to_each_2":["Succeeded"]},"metadata":{"operationMetadataId":"254c64db-9e97-4657-9413-76eac7f739a5"},"type":"Foreach"},"InitializeVariableDriversArray":{"runAfter":{"InitializeVariableExcelVansNamesArray":["Succeeded"]},"metadata":{"operationMetadataId":"8c7878d1-bfc3-4ba3-b943-5ebc40c3f27a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Drivers","type":"array"}]}},"InitializeVariableExcelVansNamesArray":{"runAfter":{"InitializeVariableVanNumArray":["Succeeded"]},"metadata":{"operationMetadataId":"66f971be-20bb-459f-ac86-7aa0bc5a6747"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ExcelVansAndNames","type":"array"}]}},"Apply_to_each_2":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Append_to_array_variable_2":{"metadata":{"operationMetadataId":"9e074dc2-44dd-4dc3-aa8d-a6ed0dfd7c57"},"type":"AppendToArrayVariable","inputs":{"name":"ExcelVansAndNames","value":"@{items('Apply_to_each_2')?['Vehicle']}:@{items('Apply_to_each_2')?['Driver']};@{item()?['2nd Driver']}"}}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"254c64db-9e97-4657-9413-76eac7f739a5"},"type":"Foreach"},"InitializeVariableEmailDate":{"runAfter":{"InitializeVariableDriversArray":["Succeeded"]},"metadata":{"operationMetadataId":"45678b6f-9743-486b-a781-317acc1964f5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"EmailDate","type":"string","value":"01/01/2010"}]}},"For_each_1":{"foreach":"@triggerOutputs()?['body/value']","actions":{"SetVariableEmailDate":{"metadata":{"operationMetadataId":"b8d8d3ca-9880-4434-89f4-d7439102f4f3"},"type":"SetVariable","inputs":{"name":"EmailDate","value":"@{substring(items('For_each_1')?['receivedDateTime'],0,indexOf(items('For_each_1')?['receivedDateTime'],'T'))}"}},"ComposeEmailDateFormatted":{"runAfter":{"SetVariableEmailDate":["Succeeded"]},"metadata":{"operationMetadataId":"647f1d20-b245-4408-8616-1d4c68b325a5"},"type":"Compose","inputs":"@{substring(variables('EmailDate'),8,2)}/@{substring(variables('EmailDate'),5,2)}/@{substring(variables('EmailDate'),0,4)}"},"ComposeEmailDateToExcelDate":{"runAfter":{"Set_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"e60605e1-bea8-4ed9-94f8-4caae560b421"},"type":"Compose","inputs":"@add(div(sub(ticks(variables('EmailDate')),ticks('1900-01-01T00:00:00Z')),864000000000),2)"},"Set_variable_3":{"runAfter":{"ComposeEmailDateFormatted":["Succeeded"]},"metadata":{"operationMetadataId":"65bd9311-ad2c-43be-b0c8-e86fcc26bff6"},"type":"SetVariable","inputs":{"name":"Test2","value":"@{outputs('ComposeEmailDateFormatted')}"}},"Set_variable_4":{"runAfter":{"ComposeEmailDateToExcelDate":["Succeeded"]},"metadata":{"operationMetadataId":"69291009-58fe-471d-aa98-22cfa22495fa"},"type":"SetVariable","inputs":{"name":"excelDate","value":"@{outputs('ComposeEmailDateToExcelDate')}"}}},"runAfter":{"For_each_3":["Succeeded"]},"metadata":{"operationMetadataId":"070f06e5-43fc-45a6-b23d-17a6f19da919"},"type":"Foreach"},"ApplyToEachDriver":{"foreach":"@variables('Drivers')","actions":{"Condition_3":{"actions":{},"else":{"actions":{"Append_to_array_variable_3":{"runAfter":{"Set_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"abcb8dac-be28-4694-8bf9-ab7d9242a6af"},"type":"AppendToArrayVariable","inputs":{"name":"DriverAndStatus","value":{"Driver":"@{items('ApplyToEachDriver')}","Status":"@{variables('Test')}"}}},"Set_variable_2":{"runAfter":{"Run_script":["Succeeded"]},"metadata":{"operationMetadataId":"8e204344-eee4-4094-be84-3cf01114c2dc"},"type":"SetVariable","inputs":{"name":"Test","value":"@outputs('Run_script')?['body/result']"}},"Run_script":{"metadata":{"01ISU2MFB3ZQKWBX6JZNF24GKSL3M256NA":"/Work/Projects/PowerAutomateStuff/PlannerForNonMovers.xlsx","operationMetadataId":"6531ae78-9bf7-4812-89d8-3924a6879cbd","tableId":null,"01XRTXJPC65HPWWARJCNAKZZLF6J2FR3UR":"/Team Leaders/Team Planner.xlsx"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"groups/bd23383b-b72d-49e6-aabb-3ee08b0c1fe5","drive":"b!JhLJz2mzo0avibQwlwjamzTVFFm-rlBHjhA-RJjA6m6aw_Mg_xP3T7zqbrWsV2QM","file":"01XRTXJPC65HPWWARJCNAKZZLF6J2FR3UR","scriptId":"ms-officescript%3A%2F%2Fonedrive_business_itemlink%2F01ISU2MFBTD2YBULEPAFF264SOPMW32NEU","ScriptParameters/driver":"@items('ApplyToEachDriver')","ScriptParameters/emailDate":"@variables('excelDate')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"RunScriptProd"},"authentication":"@parameters('$authentication')"}}}},"expression":{"or":[{"equals":["@items('ApplyToEachDriver')","Garage"]},{"equals":["@items('ApplyToEachDriver')","Spare"]}]},"metadata":{"operationMetadataId":"1a83f261-baf4-473c-a96e-46b4b06c8c7c"},"type":"If"}},"runAfter":{"ApplyToEachNonMover":["Succeeded"]},"metadata":{"operationMetadataId":"c916c045-567c-47df-bf6e-d5567dde6497"},"type":"Foreach"},"InitializeVariableDriverAndStatus":{"runAfter":{"InitializeVariableEmailDate":["Succeeded"]},"metadata":{"operationMetadataId":"0e26f458-1cb3-42fc-8695-d2075c61f266"},"type":"InitializeVariable","inputs":{"variables":[{"name":"DriverAndStatus","type":"array"}]}},"InitializeTestVariable":{"runAfter":{"InitializeVariableDriverAndStatus":["Succeeded"]},"metadata":{"operationMetadataId":"f2866024-b264-4e76-8e1e-0e6e8b73e564"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Test","type":"string"}]}},"InitializeTestVariable2":{"runAfter":{"InitializeTestVariable":["Succeeded"]},"metadata":{"operationMetadataId":"16e07f03-a88e-4e86-8d70-71b22428c1f5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Test2","type":"string"}]}},"Initialize_variable_2":{"runAfter":{"InitializeTestVariable2":["Succeeded"]},"metadata":{"operationMetadataId":"6f49e0a3-3e18-485c-9e7b-360d0d11e8c3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"excelDate","type":"string"}]}},"ApplyToEachDriverAndStatus":{"foreach":"@variables('DriverAndStatus')","actions":{"Condition_2":{"actions":{},"else":{"actions":{"Post_driver_message_in_chat":{"metadata":{"operationMetadataId":"e0541e61-0987-434b-ad51-2125b850c039"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Group chat","body/recipient":"19:c1d49d42af2047ea9bd155dfb640e222@thread.v2","body/messageBody":"<p><span style=\"white-space: pre-wrap;\"><br></span>@{items('ApplyToEachDriverAndStatus')?['Driver']}<span style=\"white-space: pre-wrap;\"> hasn't moved as expected.</span></p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}}},"expression":{"or":[{"equals":["@items('ApplyToEachDriverAndStatus')?['Status']","NWD"]},{"equals":["@items('ApplyToEachDriverAndStatus')?['Status']","Annual"]},{"equals":["@items('ApplyToEachDriverAndStatus')?['Status']","Sickness"]},{"equals":["@items('ApplyToEachDriverAndStatus')?['Status']","Lieu"]},{"equals":["@items('ApplyToEachDriverAndStatus')?['Status']","BANK"]},{"equals":["@items('ApplyToEachDriverAndStatus')?['Status']","LIEU"]},{"equals":["@items('ApplyToEachDriverAndStatus')?['Status']","Bank"]}]},"metadata":{"operationMetadataId":"c243d621-2bb6-42f4-a4b0-c04067c8f0d6"},"type":"If"}},"runAfter":{"ApplyToEachDriver":["Succeeded"]},"metadata":{"operationMetadataId":"fe0feba4-02a4-4478-a739-844c48ffc12d"},"type":"Foreach"},"For_each_3":{"foreach":"@triggerOutputs()?['body/value']","actions":{"ComposeEmailTimeStep1":{"type":"Compose","inputs":"@substring(item()?['receivedDateTime'],indexOf(item()?['receivedDateTime'],'T'))"},"ComposeEmailTimeStep2":{"runAfter":{"ComposeEmailTimeStep1.1":["Succeeded"]},"type":"Compose","inputs":"@substring(outputs('ComposeEmailTimeStep1.1'),0,indexOf(outputs('ComposeEmailTimeStep1.1'),'+'))"},"ComposeEmailTimeStep1.1":{"runAfter":{"ComposeEmailTimeStep1":["Succeeded"]},"type":"Compose","inputs":"@substring(outputs('ComposeEmailTimeStep1'),1)"},"ComposeNumOfVehcs":{"runAfter":{"ComposeEmailTimeStep2":["Succeeded"]},"type":"Compose","inputs":"@substring(item()?['subject'],7,2)"}},"runAfter":{"Initialize_variable_2ndDriverNameLength":["Succeeded"]},"type":"Foreach","description":"These are to add start message, but i've deleted it. see v2.1"},"Send_an_email_(V2)":{"runAfter":{"ApplyToEachDriverAndStatus":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"simonmitchell@wdh.co.uk","emailMessage/Subject":"Today's UNM Flow run","emailMessage/Body":"<p class=\"editor-paragraph\">It ran. And there were @{outputs('ComposeCountRowsMinusOne')} non-movers.</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_1":{"runAfter":{"Send_an_email_(V2)":["Skipped","Failed","TimedOut"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"simonmitchell@wdh.co.uk","emailMessage/Subject":"UNM FAILED","emailMessage/Body":"<p class=\"editor-paragraph\">Oh dear, looks like something went wrong [massive_crying_sad_face].</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Initialize_variable_2ndDriverNameLength":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"2ndDriverNameLength","type":"boolean"}]}}},"outputs":{},"description":"Updated due to email HTML change, whcih now has 2x <table> tags. So uses <h3> to find start of table.\n\nUses \"CountRows...\" to report number of non-movers, instead of Email Subject.\n\nAdded read both driver columns"},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-b47e02de-3076-429a-943f-518e-91d187dd","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-70774027-09ae-4c38-9754-ee54-38a35df0","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_teams":{"connectionName":"shared-teams-926c78ce-3ae0-4b04-8c18-088c-4f34f8a0","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified","apiName":"teams","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}